@import "_partials/header";
@import "_partials/slider";

body{
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 1200px;
}

