@import "variables";

header {
  background-color: $navigation;

  &.sticky {
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9;
  }
  nav {
    padding: 30px 15px;
    text-align: center;
    a {
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
      color: $white;
      margin: 0 20px;
      @include trans(.25);
      &:hover, &:focus {
        color: $hotRed;
        @include trans(.25);
        text-decoration: none;
      }
      &.active {
        color: $hotRed;
      }
      @media only screen and(max-width:400px){
        font-size: 16px;
        margin: 0 10px;
      }
    }
  }
}

.content {
  padding: 80px 0;
}

.sticky + .container .content {
  padding-top: 80px;
}